@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    font-family: 'Roboto';
    color: #abb2be
}
h1, h2, h3, h4 {
    font-family: 'Roboto';
    font-weight: normal;
    color: #cb9769;
}

strong {
    color: #99c27c;
}

.remark-code, .remark-inline-code {
    font-family: 'Roboto Mono';
    color: #5ab6c1;
}

.remark-slide-content h1 {font-size: 42px; }
.remark-slide-content h2 {font-size: 30px; }
.remark-slide-content h3 {font-size: 30px; }
.remark-slide-content h4 {font-size: 24px; }
.remark-slide-content h2, h3 {border-bottom: 2px solid #cb9769;}

.remark-slide-content{
    background-color: #21252B;
}

a:link, a:visited, a:active {
    color: #bf78d5;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
